# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Local environment
.env

# Media files (Local uploads)
media/

# Static files (Collected)
staticfiles/

# Logs
*.log
